extends layout
block jumbotron
    | Las normas
    small
      | &emsp; Cumple las!!!

block main-content
  .row-fluid
    .span12
      h4
          | NORMAS &amp; CONSEJOS
      .spacer-small
      .span8.center
        h5
          | NORMAS
        p
          | Es muy importante que os leáis y cumpláis estas normas, el incumplimiento de las mismas
          | conllevará un baneo permanente del servidor.
        p
          ul
            li Se permite el PVP, así que ¡mucho cuidado!
            li No destruir construcciones ajenas.
             ul
              li Se entienden como construcciones ajenas aquellas que no han sido construidas por uno mismo.
              li Si por accidente se rompe algo se dejara en su estado original inmediatamente.
              li Los Spawners, pueblos, templos, casas de brujas y demás estructuras generadas
                | por el juego salvo que estén "remodelados" no se consideran construcciones así
                | que ¡a saquear!
            li Se permite robar el contenido de los cofres.
            li No se permite robar items colocados en marcos.
            li No se permite el robo de "calaveras".
            li No se permite el robo de Caballos, Asnos, Mulas ni sus monturas/armaduras.
            li En las coordenadas X666, Z666 se encuentran los dominios del 
              a(href='http://es.wikipedia.org/wiki/Pastafarismo', target='about:blank')
                | FSM
              |, ¡es una zona prohibida! incluso su huerto, cualquiera que sea descubierto en susodicha zona
              | sufrirá el mas terrible de los castigos.
            li Está prohibido romper o bloquear camas ajenas.
            li Replantar los cultivos de los pueblos si no quieres quedártelo.
        .spacer-small
        h5
          | CONSEJOS
        p
          ul
            li
              | Usamos un plugin de Spawn aleatorio, lo primero que deberas hacer es escribir /sethome y en caso
              | que mueras para volver a tu casa /home, este ultimo solo se podra usar una vez cada hora para evitar
              | trampas y 'chetamientos' varios.
            li 
              | Es recomendable que apuntes tus coordenadas(tecla F3 y apuntamos los valores de X,Y,Z) 
              | en un sitio seguro por si alguna vez te pierdes.
            li
              | El mejor sitio para tus posesiones valiosas esta en un Ender chest o enterrado en un cofre bajo
              | tierra.