extends layout

block jumbotron
    | ¿Complicado?
    small
      | &emsp; Aprende como se hace
  
block main-content
  .row-fluid
    .span12
      h4
        | #{titulo}
      .spacer-small
      .span8.center
        p
          | #{sinopsis}

      .spacer-small

      .row-fluid
        .span9.offset1
          != md(tutorial)