extends layout

block jumbotron
    | Pauli Fuckers Home Server
    small
      | &emsp;Survival MC

block main-content
  .row-fluid
    .span12
      h4
        | SPAWN
      .spacer-small
      .span8.center
          | Bienvenido a PFHS la comunidad de minecraft mas selecta de habla hispana.
      .spacer-small
      img(src='img/spawn_head.png').img-rounded